body {
    color: white;
    background-color:black;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.top-bar {
    background-color: green;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
</style>
</head>
<body>
<div class="top-bar">Minha Barra Verde</div>
</body>
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.top-bar {
    background: linear-gradient(to right, rgb(67, 218, 67), #ff2992);
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left, .right {
    display: inline-block;
}
.left {
    margin-left: 15px;
    
    
}
.right {
    margin-right: 15px;
    width: 500px; /* Define a largura */
    height: auto; /* Mantém a proporção original */
    font-size: 50px;
}

.video-3 {
    width: 580px; 
    height: 326px;
    
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 50px;
}
.video-caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.video-subcaption {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    text-align: center;
}
.overlai {
    position: absolute;
    top: 0;
    left: 10%; /* Ajusta para centralizar */
    width: 80%; /* Define a largura para deixar espaço visível nas laterais */
    height: 100vh;
    background: rgba(0, 0, 0, 0.774); /* Preto com transparência */
    z-index: -1;
    height: 920px;
}
.botao{
    display: inline-block;
    flex-wrap: nowrap;
    padding: 15px 20px;
    background-color: rgb(83, 236, 83);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s
    ease-in-out;
}
.botao:hover{
    opacity: .8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.botao2{
    display: inline-block;
    flex-wrap: nowrap;
    padding: 15px 20px;
    background-color: rgb(236, 83, 210);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s
    ease-in-out;
}
.botao2:hover{
    opacity: .8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.divider {
    width: 80%;
    height: 2px;
    background-color: gray;
    margin: 20px auto;
}
video {
    border: 5px solid rgb(236, 83, 210); /* A borda será de 5px de espessura e de cor #FF5733 (laranja avermelhado) */
    border-radius: 15px; /* Arredonda os cantos da borda */
    width: 50%; /* Faz o vídeo ocupar toda a largura disponível (você pode ajustar conforme necessário) */
    max-width: 100px; /* Limita a largura máxima do vídeo */
  }
  .bota{
    display: inline-block;
    flex-wrap: nowrap;
    padding: 15px 20px;
    background-color: rgb(236, 83, 210);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s
    ease-in-out;
}
.bota:hover{
    opacity: .8;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.btn-tiktok {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    width: 120px; /* Tamanho do botão */
    height: 50px;
    background-color: rgb(255, 255, 255); /* Cor de fundo */
    border-radius: 10px; /* Deixa o botão redondo */
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 10px auto;
}

.btn-tiktok:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.btn-tiktok i {
    color: white; /* Cor do ícone */
    font-size: 30px; /* Tamanho do ícone */
}

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer{
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link{
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    justify-content: space-between;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#TikTok {
    background-color: rgb(0, 0, 0);
}

.footer-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 0.75rem;
    list-style: none;
}

.footer-list li {
    display: inline-block;
  }

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 15%;
}

#input_group button {
    background-color: #7f37c9;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;

}

@media  screen and(max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media  screen and(max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

.frase-direita {
    position: absolute;
    right: 50px;
    top: 980px; /* Ajuste conforme necessário */
    letter-spacing: 1px;
    line-height: 1.5;
  max-width: 1200px; /* Define um limite máximo */
  height: auto; /* Mantém a proporção */
  }

  .frase-direta {
    position: absolute;
    right: 50px;
    top: 938px; /* Ajuste conforme necessário */
    font-size: 27px; /* Aumenta o tamanho */
    font-weight: bold; /* Deixa em negrito */
  }
  .img-pequena {
    width: 200px; /* Define a largura */
    height: auto; /* Mantém a proporção original */
  }

  body {
    min-height: 100vh;
    cursor: url(./varinha\ \(2\).png) 30 20, pointer;

}
button, a {
    cursor: url(./varinha\ brilho.png) 30 20, pointer;
}

#music-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1000;
    overflow: hidden; /* Garante que apenas um vídeo seja visível */
}

/* Configuração dos vídeos */
#music-button video {
    width: 90%;
    height: 90%;
    border: none !important;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

/* Mostra o vídeo ativo */
.active-video {
    opacity: 1;
}

/* Oculta o vídeo inativo */
.hidden {
    opacity: 0;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .img-pequena{
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .footer_content{
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .videoao{
        width: 50%;
        flex-direction: column;
    }
}

<body>
</html>
